In [1]:
import pandas as pd
import numpy as np
import config
import time
from numba import jit

In [2]:
def timestamp_datetime(value):
    return time.strftime('%Y-%m-%d %H:%M:%S', time.localtime(value))

def time_feat(df,featList,featName):
    '''scaler = StandardScaler()
    tmp = df.groupby(featList).size().reset_index().rename(columns={0:featName})
    tmp[featName] = scaler.fit_transform(tmp[featName].values.reshape(-1,1))
    df = df.merge(tmp,'left',on=featList)'''
    df[featName] = df.groupby(featList)['context_timestamp'].rank(method='first')   
    return df

def process(df):
    df['time'] = df.context_timestamp.apply(timestamp_datetime)
    df['day'] = df.time.apply(lambda x: int(x[8:10]))
    df['hour'] = df.time.apply(lambda x: int(x[11:13]))
    '''for lst in timeFeatList:
        df = time_feat(df,lst,'_'.join(lst))'''
    df['item_property_list_clean'] = df['item_property_list'].apply(lambda x:';'.join(sorted(set(str(x).split(';')))))
    for i in range(3):
        df['item_category_list_bin%d'%i] = df['item_category_list'].apply(lambda x: x.split(';')[i] if len(x.split(';'))>i else -1)
    df["missing_feat"] = np.sum((df == -1).values, axis=1)
    return df

In [3]:
def focus_one_record(df,key_var=[]):
    nameBase = '_'.join(key_var)
    ###当天前后的数据情况
    df[nameBase+'_before_cnt'] = df.groupby(key_var+['day'])['context_timestamp'].rank(method='min') - 1
    df[nameBase+'_after_cnt'] = df.groupby(key_var+['day'])['context_timestamp'].rank(method='min',ascending=False)- 1
    df[nameBase+'_sametime_cnt'] = df.groupby(key_var+['day'])['context_timestamp'].rank(method='max') - df.groupby(key_var+['day'])['context_timestamp'].rank(method='min')+1
    df = df.merge(df.groupby(key_var+['day'],as_index=False)['context_timestamp'].agg({nameBase+'_day_cnt':'count'}),'inner',key_var+['day'])
    for feat in ['_before_cnt','_after_cnt','_sametime_cnt']:
        df[nameBase+feat+'_ratio'] = df[nameBase+feat]*1.0/df[nameBase+'_day_cnt']
        
    ###前一天购买/浏览的数量
    '''dfTmp =  df.groupby(key_var+['day'],as_index=False)['is_trade'].agg({nameBase+'_preday_trade_cnt':'sum',nameBase+'_preday_cnt':'count'})
    dfTmp['day'] = dfTmp['day']+1
    df = df.merge(dfTmp,'left',key_var+['day'])
    df[nameBase+'_preday_trade_ratio'] = df[nameBase+'_preday_trade_cnt']*1.0/df[nameBase+'_preday_cnt']
    for feat in ['_preday_trade_cnt','_preday_cnt','_preday_trade_ratio']:
        df[nameBase+feat].fillna(0,inplace=True)'''
        
    ###广告展示上下间隔
    dfTmp = df[[nameBase+'_before_cnt',nameBase+'_after_cnt',nameBase+'_sametime_cnt','time']+key_var+['day']]
    dfTmp.rename(columns={'time':'new_time'},inplace=True)
    dfTmp['next_record'] = dfTmp[nameBase+'_before_cnt'] + dfTmp[nameBase+'_sametime_cnt'] + 1
    dfTmp['last_record'] = dfTmp[nameBase+'_after_cnt'] + dfTmp[nameBase+'_sametime_cnt'] + 1
    df = df.merge(dfTmp[key_var+['day','next_record','new_time']],'left',left_on = key_var+['day',nameBase+'_before_cnt'],right_on = key_var+['day','next_record'])
    df['next_time_dur'] = (pd.to_datetime(df['time'])-pd.to_datetime(df['new_time'])).dt.seconds
    df['next_time_dur'].fillna(999999,inplace=True)
    df.loc[df[nameBase+'_sametime_cnt']>1,'next_time_dur'] = 0
    del df['new_time']
    del df['next_record']
    
    df = df.merge(dfTmp[key_var+['day','last_record','new_time']],'left',left_on = key_var+['day',nameBase+'_after_cnt'],right_on = key_var+['day','last_record'])
    df['last_time_dur'] = (pd.to_datetime(df['new_time'])-pd.to_datetime(df['time'])).dt.seconds
    df['last_time_dur'].fillna(999999,inplace=True)
    df.loc[df[nameBase+'_sametime_cnt']>1,'last_time_dur'] = 0
    del df['new_time']
    del df['last_record']
    return df

In [4]:
def Discretize(vlu, list_cat, greedy_f=False):
    if len(list_cat) == 0:
        return set([str(vlu)])
    cut_l = ['-Inf'] + [str(i) for i in list_cat if i < vlu]
    cut_h = [str(i) for i in list_cat if i >= vlu] + ['Inf']
    if greedy_f:
        return set([i + '_' + j for i in cut_l for j in cut_h])
    else:
        return set([cut_l[-1] + '_' + cut_h[0]])
    
def Discretization(rec, dict_cat, greedy_f=False):
    return (dict([(key, Discretize(rec[key], dict_cat[key], greedy_f)) for key in dict_cat]))

def cat_str(rec, dict_cat, greedy_f=False):
    cat_tag = Discretization(rec, dict_cat, greedy_f=False)
    flat_list = ';'.join([key + '_' + str(item) for key in cat_tag.keys() for item in cat_tag[key]])
    return (flat_list)

@jit
def _agg_df(df, grp_key, sum_var, cnt_var, stat_var):
    grouped = df.groupby(grp_key)
    agg_sum = grouped[sum_var].agg('sum').reset_index().melt(id_vars=grp_key, value_vars=sum_var)
    agg_sum['method'] = 'sum'
    agg_uniq = grouped[cnt_var].agg('nunique').reset_index().melt(id_vars=grp_key, value_vars=cnt_var)
    agg_uniq['method'] = 'cnt'
    agg_max = grouped[stat_var].agg('max').reset_index().melt(id_vars=grp_key, value_vars=stat_var)
    agg_max['method'] = 'max'
    agg_min = grouped[stat_var].agg('min').reset_index().melt(id_vars=grp_key, value_vars=stat_var)
    agg_min['method'] = 'min'
    agg_mst = pd.concat([agg_sum, agg_uniq, agg_max, agg_min])
    return (agg_mst)

def _sig_calc(cdr_rec, key_var, TS_cat, dict_cat,sum_var, cnt_var, stat_var):
    cdr_dict = cdr_rec.to_dict(orient='records')
    cdr_dict = [dict(list(x.items()) + [('TS', '~'.join(list(Discretization(x, TS_cat).values())[0]))] + [
        ('cat_str', cat_str(x, dict_cat))]) for x in cdr_dict]
    cdr_rec = pd.DataFrame(cdr_dict).reset_index()
    # one to many
    cat_driver = pd.concat([pd.Series(row['index'], row['cat_str'].split(';'))
                            for _, row in cdr_rec.iterrows()]).reset_index()
    cat_driver.columns = ['cat', 'index']
    cdr_rec_m = pd.merge(cdr_rec, cat_driver, on='index', how='inner')
    # Aggregation
    if key_var=='':
        key_var_tmp = ['TS']
    else:
        key_var_tmp = [key_var,'TS']
    agg_mst_m = _agg_df(cdr_rec_m, key_var_tmp+['cat'], sum_var, cnt_var, stat_var)
    agg_mst_m['var_name'] = agg_mst_m[['method', 'variable', 'cat']].apply(
        lambda x: x[0] + '_' + x[1] + '_cat_' + str(x[2]), axis=1)
    if key_var=='':
        agg_mst_m['key'] = agg_mst_m[key_var_tmp]
    else:
        agg_mst_m['key'] = agg_mst_m[key_var_tmp].apply(lambda x: '{0}:{1}'.format(x[0], x[1]), axis=1)
    agg_df_m = agg_mst_m.pivot(index='key', columns='var_name', values='value').reset_index()

    agg_mst = _agg_df(cdr_rec, key_var_tmp, sum_var, cnt_var, stat_var)
    agg_mst['var_name'] = agg_mst[['method', 'variable']].apply(lambda x: x[0] + '_' + x[1] + '_cat_total_all', axis=1)
    if key_var=='':
        agg_mst['key'] = agg_mst[key_var_tmp]
    else:
        agg_mst['key'] = agg_mst[key_var_tmp].apply(lambda x: '{0}:{1}'.format(x[0], x[1]), axis=1)
    agg_df = agg_mst.pivot(index='key', columns='var_name', values='value').reset_index()

    agg_df = pd.merge(agg_df, agg_df_m, on='key', how='left')
    
    sig_ratio = [sig for sig in agg_df.columns if
                 (('sum_' in sig) or ('cnt_' in sig)) and ('cat_total_all' not in sig)]
    for sig in sig_ratio:
        agg_df['rto_' + sig] = agg_df[[sig, sig.split('cat')[0] + 'cat_total_all']].apply(
            lambda x: (x[0] + 0.0) / x[1], axis=1)
        del agg_df[sig]
    return agg_df

In [5]:
dfTrain = pd.read_table(config.TRAIN_FILE,sep=' ')
dfTrain.drop_duplicates(inplace=True)
dfTrain = process(dfTrain)
dfTrain['cnt_ind'] = 1

In [6]:
#dfTrain['cnt_ind'] = 1
_sig_calc(dfTrain,'',{'day':[18,19,20,21,22,23,24,25]},{'item_sales_level':[],'item_collected_level':[]},['user_gender_id'],['cnt_ind'],['cnt_ind'])

var_name,key,cnt_cnt_ind_cat_total_all,max_cnt_ind_cat_total_all,min_cnt_ind_cat_total_all,sum_user_gender_id_cat_total_all,rto_cnt_cnt_ind_cat_item_collected_level_0,rto_cnt_cnt_ind_cat_item_collected_level_1,rto_cnt_cnt_ind_cat_item_collected_level_10,rto_cnt_cnt_ind_cat_item_collected_level_11,rto_cnt_cnt_ind_cat_item_collected_level_12,...,rto_sum_user_gender_id_cat_item_sales_level_16,rto_sum_user_gender_id_cat_item_sales_level_17,rto_sum_user_gender_id_cat_item_sales_level_2,rto_sum_user_gender_id_cat_item_sales_level_3,rto_sum_user_gender_id_cat_item_sales_level_4,rto_sum_user_gender_id_cat_item_sales_level_5,rto_sum_user_gender_id_cat_item_sales_level_6,rto_sum_user_gender_id_cat_item_sales_level_7,rto_sum_user_gender_id_cat_item_sales_level_8,rto_sum_user_gender_id_cat_item_sales_level_9
0,-Inf_18~-Inf_Inf~-Inf_20~-Inf_25~-Inf_23~-Inf_...,1,1,1,16461,1.0,1.0,1.0,1.0,1.0,...,0.021080,0.003706,0.001762,0.004374,0.007715,0.013061,0.024482,0.040459,0.060324,0.083531
1,18_21~18_24~-Inf_Inf~18_20~18_22~18_Inf~18_25~...,1,1,1,15189,1.0,1.0,1.0,1.0,1.0,...,0.020541,0.001843,0.002633,0.003819,0.008098,0.011851,0.024821,0.038515,0.052867,0.083876
2,18_Inf~19_25~19_21~18_21~18_24~-Inf_Inf~19_24~...,1,1,1,14163,1.0,1.0,1.0,1.0,1.0,...,0.018146,0.003319,0.001624,0.004801,0.007979,0.010167,0.023441,0.036504,0.054649,0.081127
3,18_Inf~19_25~20_21~20_Inf~20_24~19_21~18_21~18...,1,1,1,15557,1.0,1.0,1.0,1.0,1.0,...,0.027319,0.005592,0.001286,0.003021,0.006299,0.012020,0.023976,0.039339,0.055216,0.080414
4,18_Inf~21_23~19_25~20_Inf~20_24~21_24~18_24~-I...,1,1,1,14659,1.0,1.0,1.0,1.0,1.0,...,0.026673,0.003820,0.001910,0.003888,0.005594,0.012211,0.022171,0.037179,0.053278,0.082748
5,18_Inf~21_23~19_25~22_23~20_Inf~20_24~21_24~18...,1,1,1,13234,1.0,1.0,1.0,1.0,1.0,...,0.024331,0.005214,0.001587,0.004912,0.005138,0.010125,0.020780,0.034986,0.058410,0.087880
6,23_25~18_Inf~19_25~23_24~20_Inf~20_24~21_24~18...,1,1,1,12596,1.0,1.0,1.0,1.0,1.0,...,0.027628,0.004366,0.004208,0.004684,0.008654,0.013973,0.023817,0.039219,0.057082,0.082010

In [ ]:
sum_var = ['cnt_rec']
cnt_var = ['item_price_level','item_sales_level','item_collected_level','item_pv_level','user_age_level','user_occupation_id','context_page_id','shop_review_num_level','shop_star_level','hour']
stat_var = []

In [8]:
df = pd.DataFrame({'A':[1,2,3],'B':['a;b','a;b','a;b;a']})

In [11]:
df['B'].apply(lambda x:';'.join(sorted(set(str(x).split(';')))))

0    a;b
1    a;b
2    a;b
Name: B, dtype: object

In [ ]:
dfTrain = pd.read_table(config.TRAIN_FILE,sep=' ')
dfTrain.drop_duplicates(inplace=True)
dfTrain.reset_index(inplace=True,drop =True)
dfTest = pd.read_table(config.TEST_FILE,sep=' ')

dfTrain = process(dfTrain)
dfTest = process(dfTest)

In [ ]:
dfAll = pd.concat([dfTrain,dfTest])
dfAll.reset_index(inplace=True,drop=True)
dfAll.shape

In [ ]:
Test = focus_one_record(dfAll,['user_id'])

In [ ]:
Test.dtypes

In [ ]:
dfTest['next_time_dur'].dt.days.max()

In [ ]:
dfTest['next_time_dur'].map(lambda x: x/np.timedelta64(1, 's'))

In [ ]:
dfTest.dtypes

In [ ]:
df = dfAll
key_var = ['user_id']

In [ ]:
pd.to_datetime(dfAll['time'])

In [ ]:
nameBase = '_'.join(key_var)
###当天前后的数据情况
df[nameBase+'_before_cnt'] = df.groupby(key_var+['day'])['context_timestamp'].rank(method='min')

In [ ]:
df.groupby('user_id')['context_timestamp'].rank(method='first')

In [ ]:
df.groupby('user_id')['context_timestamp'].rank(method='min')

In [ ]:
df.groupby(key_var+['day'])['context_timestamp'].count()

In [ ]:
key_var+['day']